.sidebar {
    background: var(--background-color-sidebar);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.15);
    width: 240px;
    height: 100vh;
    padding: 24px;
    position: fixed;
    left: 0;
    z-index: 2;
    top: 0;
}

.sidebar-inset {
    position: fixed;
    z-index: 1;
    padding-left: 240px;
    inset: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .vertical-order {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .vertical-order .top {

}
.sidebar .vertical-order .top .header {
    font-size: 14pt;
    padding: 2px 16px 8px 16px;
    border-bottom: 1px solid var(--hr-color);
    flex-grow: 0;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 16px;
}
.sidebar .vertical-order .bottom {

}

.sidebar-link {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: -24px;
    margin-right: -24px;
    padding: 8px 24px 6px 24px;
    cursor: pointer;
}

.logout-button {
    -webkit-appearance: none;
    border: 0;
    width: 100%;
    background: transparent;
    color: inherit;
}

.sidebar-link:hover {
    background: rgba(255, 255, 255, 0.2);
    color: var(--hover-color);
}

.sidebar-link:active {
    padding-left: calc(2em + 1px)
}

.sidebar-link .icon {
}

.sidebar-link .text {
    padding: 0.25em;
    padding-left: 1em;
}


.imprint {
    margin-top: 0.6em;
    padding: 0.3em 0;
    cursor: pointer;
}
.imprint:hover {
    color: var(--hover-color)
}
.tos {
    padding: 0.3em 0;
    cursor: pointer;
}
.tos:hover {
    color: var(--hover-color)
}
.support {
    padding: 0.3em 0;
    cursor: pointer;
}
.support:hover {
    color: var(--hover-color)
}
.copyright {
    margin-top: 0.6em;
    padding: 0.2em 0;
    color: var(--disabled-color)
}