.sidebar-r {
    width: 240px;
    height: calc(100vh - 16px);
    margin-top: 8px;
    position: fixed;
    right: 0;
    z-index: 2;
    border-left: 1px solid var(--hr-color);
}

.sidebar-inset-r {
    position: relative;
    padding-right: 240px;
    padding-bottom: 48px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.bottom-line {
    position: fixed;
    bottom: 0;
    right: 248px;
    left: 248px;
    height: 48px;
    border-top: 1px solid var(--hr-color);
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
}

.sidebar-r .vertical-order {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-r .vertical-order .friend-list-header {
    font-size: 14pt;
    margin: 0 4px 0 8px;
    padding: 16px 0 8px 0;
    flex-grow: 0;
}

.friend-list-entries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    border-top: 1px solid var(--hr-color);
    margin-bottom: -8px;
    flex-grow: 1;
}

.friend-list-entries.open-requests {
    display: inline-flex;
    height: auto;
    padding: 0;
    margin: 0 8px 8px 8px;
    flex-grow: 0;
}

.friend-list-entries .header {
    margin-top: 8px;
    font-size: 8pt;
}
.friend-list-entries .header.primary {
    color: var(--primary-color);
}

.friend-list-entries.open-requests .request {
    margin-top: 8px;
    background: var(--background-color-sidebar);
    border-radius: 8px;
    height: 28px;
    display: flex;
    flex-direction: row;
}
.friend-list-entries.open-requests .request .avatar-left {
    width: 24px;
    height: 24px;
    margin: 2px;
    border-radius: 6px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    flex-grow: 0;
}

.friend-list-entries.open-requests .request .name-left {
    flex-grow: 1;
    font-size: 12pt;
    padding-left: 4px;
    padding-top: 3px;
}
.friend-list-entries.open-requests .request .options-right {
    flex-grow: 0;
    width: 64px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 4px;
}

.friend-list-entries.open-requests .request .options-right .icon {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 2px;
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
}
.friend-list-entries.open-requests .request .options-right .icon svg {
    width: 20px;
    height: 20px;
}
.friend-list-entries.open-requests .request .options-right .icon:hover {
    background: var(--success-color);
}

.friend-list-entries.open-requests .request .options-right .icon.x:hover {
    background: var(--error-color);
}

.friend-list-options {
    display: flex;
    flex-direction: row-reverse;
    height: 48px;
    border-top: 1px solid var(--hr-color);
    margin: 0px 8px -2px 8px;
    padding-top: 8px;
    flex-grow: 0;
}
.friend-list-options .add-friend-btn {
    width: 32px;
    height: 28px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid var(--hr-color);
    background: rgba(0,0,0,0.2);
    padding-top: 1px;
}
.friend-list-options .add-friend-btn:hover {
    cursor: pointer;
    background: var(--primary-color);
}
.friend-list-options .add-friend-btn svg {
    width: 22px;
    height: 22px;
    margin: 3px;
}
.friend-list-options .add-friend-input {
    all: unset;
    width: 100%;
    height: 28px;
    padding: 0 8px;
    font-size: 10pt;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: rgba(0,0,0,0.2);
}


.friend-entry {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 42px;
    margin-top: 8px;
    background: var(--background-color-sidebar);
    border-radius: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
}

.friend-entry:hover {
    cursor: pointer;
    background-color: var(--background-color-element-lighter-shade);
}

.friend-entry .avatar-left {
    width: 36px;
    height: 36px;
    margin: 3px;
    border-radius: 6px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    flex-grow: 0;
    flex-shrink: 0;
}
.friend-entry .name-left {
    height: 36px;
    flex-grow: 1;
    padding: 8px;
    padding-left: 6px;
    font-size: 13pt;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
    max-width: 125px;
}

.friend-entry .info-right {
    flex-grow: 0;
    flex-shrink: 0;
}

.friend-entry .info-right .options {
    width: 100%;
    flex-direction: row-reverse;
    display: none;
}

.friend-entry:hover > .name-left {
    max-width: 100px;
}
.friend-entry:hover > .info-right .options {
    display: flex;
}

.friend-entry .info-right .status {
    width: 52px;
    text-align: right;
    padding-top: 12px;
    padding-right: 8px;
    height: 100%;
}

.friend-entry:hover > .info-right .status {
    display: none;
}
.friend-entry .info-right .status.online {
    color: var(--success-color);
}
.friend-entry .info-right .status.ingame {
    color: var(--primary-color);
}
.friend-entry .info-right .status.afk {
    font-style: italic;
    color: var(--error-color);
}
.friend-entry .info-right .status.offline {
    font-style: italic;
    color: var(--disabled-color);
}

.friend-entry .info-right .options .icon-btn {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: rgba(0,0,0,0.2);
    margin: 5px;
    margin-left: 0;
}
.friend-entry .info-right .options .icon-btn:hover {
    background: var(--primary-color);
}
.friend-entry .info-right .options .icon-btn svg {
    width: 26px;
    height: 26px;
    margin: 3px;
}


.chat-window-mount {
    width: 160px;
    height: 40px;
    border: 1px solid var(--hr-color);
    border-top: 0;
    border-right: 0;
    position: relative;
    overflow: hidden;
}
.chat-window-mount.open {
    width: 240px;
    overflow: visible;
}
.chat-window-mount:first-child {
    border-bottom-right-radius: 4px;
    border-right: 1px solid var(--hr-color);
}
.chat-window-mount:last-child {
    border-bottom-left-radius: 4px;
}

.chat-window-mount .chat-window-chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-color-element-darker-shade);
    height: 100%;
}

.chat-window-mount .chat-window-chip:hover {
    background: var(--background-color-element-lighter-shade);
    cursor: pointer;
}
.chat-window-mount.open .chat-window-chip:hover {
    background: var(--background-color-element-darker-shade);
}

.chat-window-chip .name {
    font-size: 12pt;
    margin: 8px 8px;
}
.chat-window-chip .info {
    margin: 12px 12px;
}

.chat-window-mount .chat-window-open {
    position: absolute;
    bottom: 40px;
    width: calc(100% + 2px);
    height: 240px;
    border: 1px solid var(--hr-color);
    border-bottom: 0;
    margin-bottom: -1px;
    margin-left: -1px;
    padding-bottom: 4px;
    background: var(--background-color-element-darker-shade);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.chat-window-open .chat {
    height: 100%;
    margin: 4px;
    padding: 4px;
    background-color: rgba(0,0,0,0.1);
}
.chat-window-open .input {
    height: 24px;
    margin: 0 4px 4px;
    padding: 4px 0;
    border-top: 1px solid var(--hr-color);
    display: flex;
    flex-direction: row;
}
.chat-window-open .input input {
    all: unset;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
    border-right: 1px solid var(--hr-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.chat-window-open .input .enter {
    all: unset;
    background-color: rgba(0,0,0,0.2);
    height: 24px;
    width: 60px;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.chat-window-open .input .enter:hover {
    background-color: rgba(0,0,0,0.1);
}

.chat .message-author {
    font-size: 8pt;
    color: var(--disabled-color)
}
.chat .message-author.self {

}
.chat .message-author.other {
    text-align: right;
}
.chat .message {
    margin-bottom: 8px;
}
.chat .message.self {

}
.chat .message.other {
    display: inline-block;
    float: right;
    text-align: right;
}