:root {
    /* NEW COLOR PALETTE */
    --background-color-top-left: #3d486a;
    --background-color-bottom-right: #262f49;
    --background-color-sidebar: rgba(63, 75, 110, 0.8);
    --background-color-element-lighter-shade: #525e7f;
    --background-color-element-darker-shade: #374265;
    --background-color-element-active-shade: #32ba3c;
    --hr-color: rgba(236, 240, 241, 0.3);
    --text-color: #ecf0f1;

    --primary-color: rgba(250, 130, 49, 1.0);
    --success-color: #6ab04c;
    --error-color: #c0392b;
    --disabled-color: rgba(150, 150, 150,  1.0);


    --background-color: #1d1d38;
    --background-color-shade: #232348;
    --font-color: rgba(255, 255, 255,  1.0);
    --secondary-color: rgba(56, 103, 214, 1.0);
    --link-color: var(--primary-color);
    --hover-color: rgb(253, 150, 68);
    --active-color: var(--primary-color);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background: #5758BB;
    background: linear-gradient(26deg, var(--background-color-top-left) 0%, var(--background-color-bottom-right) 100%);
    width: 100%;
    height: 100vh;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}
div {
    box-sizing: border-box;
}

.btn-w-icon {
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--background-color-element-lighter-shade);
    transition: background-color 0.1s ease-in-out;
    user-select: none;
}

.btn-w-icon:hover {
    background: var(--background-color-element-lighter-shade);
}

.btn-w-icon .icon {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
}

.btn-w-icon .text {
    height: 36px;
    text-transform: uppercase;
    padding: 9px 16px 9px 0;
}


.flex {
    display: flex;
    justify-content: space-between;
}


.flex-v {
    display: flex;
    flex-direction: column;
}

.i-flex {
    display: inline-flex;
}

a, a:visited, a:hover, a:active {
    all: unset;
}

.login-panel {
    width: 360px;
    height: 480px;
    align-self: center;
}
.registration-panel {
    width: 360px;
    height: 480px;
    align-self: center;
}

.v-scroll {
    overflow-y: auto;
}
.v-scroll::-webkit-scrollbar {
    width: 6px;
}
.v-scroll::-webkit-scrollbar-track {
    background: var(--hr-color);
}
.v-scroll::-webkit-scrollbar-thumb {
    background: var(--text-color);
}
.v-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.blend-in {
    animation: blend-in 200ms forwards;
}
@keyframes blend-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}